
<!-- Banner -->
<section id="banner">
    <h1 style="color: black; margin-right: 50%;">Welcome to Trinusa Network</h1>
    <p style="color:black; margin-right: 50%;">Experienced trading company in Indonesia since 2008</p>
</section>

<!-- about -->

<section id="about" class="wrapper">
    <div class="inner">
        <div class="flex flex-2">
            <article>
                <header>
                    <h3 style="font-weight: bold;"> Company Profile</h3>
                    <p>Trinusa Network or (TN) is an Indonesian Trading Company based in Jakarta, Indonesia.
                        The company was established in 2008 as export import business through worldwide.
                        They have been started to ship various Indonesian local brands product and goods through several countries in the world specifically in Asia.</p>
                </header>
                
                <header>
                    <h3>Vision</h3>
                    <p>To be a leading and trusted company for connecting trade in Indonesia and International
                         which supported by professional resources and management.</p>
                </header>

                <header>
                    <h3>Mision</h3>
                    <p>Our priority is satisfaction of our client we strive to provide highest level of quality control
                        and professionalism</p>
                </header>
            </article>

            <article style="margin-right: 1%; max-width: 60%; overflow: hidden;">
                <div class="img">
                    <img  src="assets/images/pic02.jpg" alt="">
                </div>
              
            </article>
        </div>

    </div>
</section>

<!-- One -->
<section id="one" class="wrapper">
    <div class="inner">
        <div class="flex flex-3">
            <article>
                <header>
                    <h3>Our Service<br /> aliquam veroeros</h3>
                </header>
                <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.</p>
                <footer>
                    <a href="#" class="button special">More</a>
                </footer>
            </article>
            <article>
                <header>
                    <h3>Our Mission<br /> adipiscing vitae</h3>
                </header>
                <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.</p>
                <footer>
                    <a href="#" class="button special">More</a>
                </footer>
            </article>
            <article>
                <header>
                    <h3>Our Priority<br /> sed ullamcorper</h3>
                </header>
                <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.</p>
                <footer>
                    <a href="#" class="button special">More</a>
                </footer>
            </article>
        </div>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style1 special">
    <div  #two class="inner">
        <header>
            <h2>Our Products</h2>
            <p>We strive to provide the best one for customer's satisfaction</p>
        </header>
        <div class="flex flex-4">
            <div class="box person">
                <div class="image round">
                    <img src="./assets/images/pic03.jpg" alt="Person 1" />
                </div>
                <h3>Coffee Bean</h3>
                <p>Cipdum dolor</p>
            </div>
            <div class="box person">
                <div class="image round">
                    <img src="./assets/images/pic04.jpg" alt="Person 2" />
                </div>
                <h3>Clover</h3>
                <p>Vestibulum comm</p>
            </div>
            <div class="box person">
                <div class="image round">
                    <img src="./assets/images/pic05.jpg" alt="Person 3" />
                </div>
                <h3>Pepper</h3>
                <p>Fusce pellentes</p>
            </div>
            <div class="box person">
                <div class="image round">
                    <img src="./assets/images/pic06.jpg" alt="Person 4" />
                </div>
                <h3>Cardamom</h3>
                <p>Praesent placer</p>
            </div>
        </div>
            <div class="more">
                <a style="color:white" href="">
                    <p style="font-size: 30px; margin: 0; margin-top: 20px;">More</p>
                </a>
            </div>
            
    </div>
</section>


<!-- Three -->
<section id="three" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h2 >Nunc Dignissim</h2>
            <p>Aliquam erat volutpat nam dui </p>
        </header>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
        <div class="flex flex-2">
            <article>
                <div class="image fit">
                    <img src="./assets/images/pic01.jpg" alt="Pic 01" />
                </div>
                <header>
                    <h3>Praesent placerat magna</h3>
                </header>
                <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor lorem ipsum.</p>
                <footer>
                    <a href="#" class="button special">More</a>
                </footer>
            </article>
            <article>
                <div class="image fit">
                    <img src="./assets/images/pic02.jpg" alt="Pic 02" />
                </div>
                <header>
                    <h3>Fusce pellentesque tempus</h3>
                </header>
                <p>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna non comodo sodales tempus.</p>
                <footer>
                    <a href="#" class="button special">More</a>
                </footer>
            </article>
        </div>
    </div>
</section>

